	/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */


/* General CSS for all pages but Home */
body {
	background: #f9f9f9;
  font-family: 'Quicksand', sans-serif;
  color: #595959;
  font-size: 16px;
  line-height: 1.5;
}

.pages {
	padding-bottom: 10%;
	margin-top: 50px;
	width: 320px;
}

.pages hr {
	margin-top: 20px;
	margin-bottom: 30px;
	border-top: 1px solid rgba(44, 62, 80, 0.4);
}

p {
	font-family: 'Lora', serif;
}

h1 {
	font-family: 'Anton', sans-serif;
	line-height: .9;
}

h2 {
	margin-top: 32px;
	margin-bottom: 20px;
	font-family: 'Anton', sans-serif;
}

h3 {
	margin-top: 20px;
	margin-bottom: 4px;
	font-family: 'Lora', serif;
	line-height: 1;
}

h4 {
	margin-top: 20px;
	font-weight: normal;
}

a {
  color: #2980b9;
}

li {
	line-height: 1.3;
	margin-bottom: 6px;
}

.navbar {
	font-size: 16px;
}

.nav-link {
	cursor: pointer;
}

button {
}

.btn-primary {
	background-color: #345498;
	color: #f9f9f9;
	border-color: #2c3e50;
}

.btn-secondary {
	background-color: #1a1a1a;
	color: #f6b93b;
	border-color: #f6b93b;
}

.btn-dark {
	background-color: #232526;
	color: #f6b93b;
	border-color: #f6b93b;
}

.btn-outline-dark {
	color: #bfbfbf;
	border-color: #bfbfbf;
}

.card-title {
  color: #2c3e50;
}

/* CSS for the Home Page */
/* Color for Home - body */
#home-page {
	background: #232526;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #232526, #414345);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #232526, #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #bfbfbf;
}

/* Defining Header (Circle logo) */
#header-image {
	display: block;
	margin-top: 20%;
	margin-bottom: 10px;
}

#home-header h1 {
	font-size: 128px;
	color: #f6b93b;
	text-align: center;
}

#home-page .small-caps {
	font-size: 106px;
}

#home-page h4 {
	font-size: 24px;
	text-align: center;
}

#home-page h5 {
	margin-top: 20px;
	text-align: center;
	font-size: 16px;
}



/*
.circle-header {
		width: 366px;
		height: 366px;
		margin: auto;
		position: relative;
}

#header-image {
	display: none;
	background-repeat: no-repeat;
	background-image: url(images/outer-circle.svg), url(images/circle-logo-name.png);
	background-position: center;
}


#mobile-image {
	display: block;
	text-align: center;
}

#mobile-image h1 {
	font-size: 120px;
	color: #f6b93b;
	line-height: 1;
}

#mobile-image h4 {
	font-size: 24px;
	color: #f6b93b;
	line-height: 1;
}

#mobile-image .small-caps {
	font-variant: small-caps;
}

*/

/*

.logo-circle {
    position: absolute;
    left: 0;
    top: 0;
    animation: logo-circle 1s linear infinite;
    will-change: transform;
}

@keyframes logo-circle {
  0%   {transform: rotate(90deg);}
  25%  {transform: rotate(180deg);}
  50%  {transform: rotate(270deg);}
  100% {transform: rotate(360deg);}
}

.logo-circle:nth-child(1) {
    animation-duration: 20s;
}
.logo-circle:nth-child(2) {
    animation-duration: 40s;
}
.logo-circle:nth-child(3) {
    animation-duration: 60s;
}
.logo-circle:nth-child(4) {
    animation-duration: 80s;
}
.logo-circle:nth-child(5) {
    animation-duration: 100s;
}
.logo-circle:nth-child(6) {
    animation-duration: 120s;
}
.logo-circle:nth-child(7) {
    animation-duration: 140s;
}
.logo-circle:nth-child(8) {
    animation-duration: 160s;
}
.logo-circle:nth-child(9) {
    animation-duration: 180s;
}
.logo-circle:nth-child(10) {
    animation-duration: 160s;
}

*/

#action-button .btn {
	margin: 0 10px 20px 10px;
}

#action-button {
	text-align: center;
}

.main-footer .navbar {
	justify-content: center;
}

.main-footer a:hover {
	text-decoration-line: none;
	color: #f6b93b;
}

/* CSS for the Resume XML Page */
#resume-nav .navbar {
	color: #bfbfbf;
}

#resume-page {
	padding: 5%;
	margin-top: 24px;
}

#resume-page .bg-light {
	background-color: #fff !important;
}

#resume-page h1 {
	margin-top: 24px;
	margin-bottom: 16px;
	color: #2c3e50;
	font-size: 80px;
	line-height: 1;
}

#resume-page h3 {
	margin-top: 6px;
	margin-bottom: 4px;
	font-size: 20px;
	line-height: 1;
}

#resume-page h4 {
	margin-top: 10px;
	margin-bottom: 12px;
	font-size: 20px;
	color: #2c3e50;
}

#resume-page hr {
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: 1px solid rgba(44, 62, 80, 0.4);
}

#resume-page .small-caps {
	font-variant: small-caps;
}

#resume-page .card-title {
	font-family: 'Lora', serif;
	font-size: 24px;
}

#resume-page .text-muted {
    color: #6b8cae !important;
}

#resume-page .card-text {
	font-family: 'Lora', serif;
	font-size: 16px;
}

#resume-page .card-footer h5 {
	font-family: 'Lora', serif;
	font-size: 16px;
}

#resume-page .card-footer {
	background: rgba(106, 137, 204, 0.1);
}


/* CSS for About Page */
#about-page .navbar {
	font-size: 16px;
	color: #bfbfbf;
}

#intro-bio h1 {
	padding: 0;
  color: #2c3e50;
	font-size: 100px;
}

#intro-bio .small-caps {
	font-variant: small-caps;
}

#intro-bio h2 {
	padding: 20px;
	font-size: 40px;
	color: #2c3e50;
}

#education-title h2 {
	margin-top: 12px;
}

#skill-title h2 {
	margin-left: 0;
}

#intro-bio h3 {
	font-size: 12px;
	text-transform: uppercase;
}

#work-history h3 {
	margin-bottom: 10px;
	font-size: 20px;
	line-height: 1;
}

#intro-bio h4 {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #595959;
	line-height: .8;
	font-size: 11px;
}

#education-title h4 {
	margin-top: 0;
	margin-bottom: 2px;
}

#skill-title h4 {
	margin-top: 10px;
	margin-bottom: 12px;
}

#work-history .bg-light {
	background-color: rgba(106, 137, 204, 0.1) !important;
}

#education .bg-light {
	background-color: rgba(44, 62, 80, 0.1) !important;
}

/* Modal CSS */

.mb-3 {
	margin-bottom: 2rem !important;
}

.modal-content {
	background: #262626;
}

.close {
	color: #b3b3b3;
}

.modal-title h4 {
	color: #b3b3b3;
	font-size: 32px;
}

.modal-body a {
	color: #f6b93b;
	font-size: 20px;
}

.modal-header {
	border-bottom: none;
}

.modal-footer {
	border-top: none;
}

.modal-footer button {
	color: #b3b3b3;
	border-color: #1a1a1a;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	body {
		font-size: 22px;
		line-height: 1.5;
	}

	.pages {
		margin-top: 100px;
		width: 580px;
	}

	.pages hr {
		margin-bottom: 40px;
	}

	#header-image {
		margin-top: 15%;
	}

	#home-page h1 {
		font-size: 120px;
	}

	#home-page .small-caps {
		font-size: 90px;
	}

	#home-page h4 {
		font-size: 38px;
		text-align: center;
	}

	#home-page h5 {
		margin-top: 40px;
		font-size: 22px;
	}

	#intro-bio h1 {
	  font-size: 120px;
	}

	#intro-bio h3 {
		padding: 0 0 5px 0;
		font-size: 24px;
	}

	#intro-bio h4 {
		margin-top: 30px;
		margin-top: 10px;
		font-size: 20px;
		line-height: .9;
	}

	#work-history h3 {
		margin-bottom: 10px;
		font-size: 30px;
		line-height: 1;
	}

	#work-history h4 {
		font-size: 16px;
	}

	#education-title h2 {
		margin-top: 82px;
	}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	#header-image {
		margin-top: 8%;
		margin-left: 8%;
	}

	#home-page h1 {
		font-size: 145px;
	}

	#home-page .small-caps {
		font-size: 115px;
	}

	#home-page h4 {
		font-size: 26px;
	}

	#home-page h5 {
		margin-top: 40%;
		font-size: 26px;
	}

	#resume-page h1 {
		margin-top: 0;
	}

	#skill-title h2 {
		margin-left: 5%;
	}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

	#header-image {
		margin-top: 6%;
		margin-left: 10%;
	}

	#home-page h1 {
		font-size: 185px;
	}

	#home-page .small-caps {
		font-size: 150px;
	}

	#home-page h4 {
		font-size: 34px;
	}

	#home-page h5 {
		margin-top: 35%;
		text-align: left;
		font-size: 36px;
	}

	#action-button {
		margin-left: 5%;
		text-align: left;
	}

	.modal-header h4 {
		color: #b3b3b3;
		font-size: 32px;
	}

}

/* Extra Large devices (large desktops, 1440 and up) */
@media (min-width: 1440px) {


	#header-image {
		margin-top: 5%;
		margin-left: 5%;
	}

	#home-page h5 {
		margin-top: 35%;
		text-align: center;
		font-size: 36px;
	}

	#action-button {
		margin-left: 0;
		text-align: center;
	}

	#experience {
		margin-right: 6%;
	}


}

/* Extra Large devices (large desktops, 1870 and up) */
@media (min-width: 1870px) {


	#header-image {
		margin-top: 8%;
		margin-left: 5%;
	}

	#home-page h1 {
		font-size: 210px;
	}

	#home-page .small-caps {
		font-size: 175px;
	}

	#home-page h4 {
		font-size: 40px;
	}

	#home-page h5 {
		margin-top: 35%;
		text-align: center;
		font-size: 46px;
	}

	#action-button {
		margin-left: 0;
		text-align: center;
	}

	#experience {
		margin-right: 6%;
	}


}
