/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

body {
	background: #f9f9f9;  /* fallback for old browsers */
  font-family: 'Source Sans Pro', sans-serif;
  color: #4d4d4d;
  font-size: 18px;
  line-height: 1.6;
}

h1 {
	padding: 0;
	font-family: 'Harmattan', sans-serif;
  color: #2c3e50;
	font-size: 80px;
	line-height: .7;
	text-transform: uppercase;
}

h4 {
  color: #434343;
}

a {
  color: #2980b9;
}

li {
	line-height: 1.1;
}

#introduction {
	padding-bottom: 10%;
	margin-top: 50px;
}

#intro-subtitle {
	color: #2c3e50;
	text-transform: uppercase;
}

#intro-bio {
	margin-bottom: 50px;
}

#intro-bio h4 {
	font-size: 14px;
}




/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	h1 {
	  font-size: 124px;
	}

	body {
		font-size: 26px;
	  line-height: 1.2;
	}

	#introduction {
		margin-top: 100px;
		width: 600px;
	}

	#intro-subtitle {
		padding: 0 0 5px 0;
		text-transform: uppercase;
	}

	#intro-bio h4 {
		font-size: 22px;
	}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {


}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {




}

/* Extra Large devices (large desktops, 1440 and up) */
@media (min-width: 1440px) {



}
