/*Color notes (websafe colors)
background color - #f9f9f9
-alt backgrounds-
white - #fff
blue - rgba(106, 137, 204, 0.1) - #6a89cc
dark - rgba(44, 62, 80, 0.1) - #2c3e50

Grey heading and body text color -
#595959
Dark blue, alt heading - #2c3e50

dark aqua, Link color - #2980b9

dark teal, Job title - #6b8cae

modal colors
light grey, #b3b3b3
dark blues, #243B55, #141E30

circles
dark red
e63900
bright red
ff4000
dark blue
243B55
light blue
6a89cc
light orange
ff944d
dark orange
e65c00
Grey
b3b3b3
purple
6600cc

*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */


/* General CSS for all pages but Home */
body {
	background: #f9f9f9;
  font-family: 'Lora', serif;
  color: #595959;
  font-size: 16px;
  line-height: 1.5;
}

.pages {
	padding-bottom: 10%;
	margin-top: 50px;
	width: 320px;
}

.pages hr {
	margin-top: 20px;
	margin-bottom: 30px;
	border-top: 1px solid rgba(44, 62, 80, 0.4);
}

h1 {
	font-family: 'Anton', sans-serif;
	line-height: .9;
}

h2 {
	margin-top: 32px;
	margin-bottom: 20px;
	font-family: 'Anton', sans-serif;
}

h3 {
	margin-top: 20px;
	margin-bottom: 4px;
	line-height: 1;
}

h4 {
	margin-top: 20px;
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
}

a {
  color: #2980b9;
}

li {
	line-height: 1.3;
	margin-bottom: 6px;
}

button {
	font-family: 'Quicksand', sans-serif;
}

.btn-dark {
	background-color: #232526;
	color: #f6b93b;
	border-color: #f6b93b;
}

.btn-outline-dark {
	color: #bfbfbf;
	border-color: #bfbfbf;
}

.card-title {
  color: #2c3e50;
}

/* CSS for the Home Page */
/* Color for Home - body */
#home-page {
	background: #232526;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	color: #bfbfbf;
}

/* Defining Header (Circle logo) */
#home-header {
	margin-top: 80px;
}

.circle-header {
		width: 366px;
		height: 366px;
		margin: auto;
		position: relative;
}

#header-image {
	display: none;
	background-repeat: no-repeat;
	background-image: url(images/outer-circle.svg), url(images/circle-logo-name.png);
	background-position: center;
}

#mobile-image {
	display: block;
	text-align: center;
}

#mobile-image h1 {
	font-size: 110px;
	color: #f6b93b;
	line-height: 1;
}

#mobile-image h4 {
	font-size: 24px;
	color: #f6b93b;
	line-height: 1;
}

.logo-circle {
    position: absolute;
    left: 0;
    top: 0;
    animation: logo-circle 1s linear infinite;
    will-change: transform;
}

@keyframes logo-circle {
  0%   {transform: rotate(90deg);}
  25%  {transform: rotate(180deg);}
  50%  {transform: rotate(270deg);}
  100% {transform: rotate(360deg);}
}

.logo-circle:nth-child(1) {
    animation-duration: 20s;
}
.logo-circle:nth-child(2) {
    animation-duration: 40s;
}
.logo-circle:nth-child(3) {
    animation-duration: 60s;
}
.logo-circle:nth-child(4) {
    animation-duration: 80s;
}
.logo-circle:nth-child(5) {
    animation-duration: 100s;
}
.logo-circle:nth-child(6) {
    animation-duration: 120s;
}
.logo-circle:nth-child(7) {
    animation-duration: 140s;
}
.logo-circle:nth-child(8) {
    animation-duration: 160s;
}
.logo-circle:nth-child(9) {
    animation-duration: 180s;
}
.logo-circle:nth-child(10) {
    animation-duration: 160s;
}

#action-button .btn {
	margin: 0 20px 20px 0;
}

#action-button {
	text-align: center;
}

#home-page h5 {
	margin-top: 20px;
	text-align: center;
	font-size: 16px;
}

.main-footer .navbar {
	justify-content: center;
}

.main-footer a:hover {
	text-decoration-line: none;
	color: #f6b93b;
}

/* CSS for the Resume XML Page */
#resume-page {
	padding: 5%;
	margin-top: 24px;
}

#resume-page .bg-light {
	background-color: #fff !important;
}

#resume-page h1 {
	margin-top: 24px;
	margin-bottom: 16px;
	color: #2c3e50;
	font-size: 60px;
	line-height: 1;
}

#resume-page h3 {
	margin-top: 6px;
	margin-bottom: 4px;
	font-size: 20px;
	line-height: 1;
}

#resume-page h4 {
	margin-top: 10px;
	margin-bottom: 12px;
	font-size: 20px;
	color: #2c3e50;
}

#resume-page hr {
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: 1px solid rgba(44, 62, 80, 0.4);
}

#resume-page .card-title {
	font-size: 24px;
}

#resume-page .text-muted {
    color: #6b8cae !important;
}

#resume-page .card-text {
	font-size: 16px;
}

#resume-page .card-footer h5 {
	font-size: 16px;
}

#resume-page .card-footer {
	background: rgba(106, 137, 204, 0.1);
}




/* CSS for About Page */
#about-page .navbar {
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	color: #bfbfbf;
}


#intro-bio h1 {
	padding: 0;
  color: #2c3e50;
	font-size: 80px;
	text-transform: uppercase;
}

#intro-bio h2 {
	padding: 20px;
	font-size: 40px;
	color: #2c3e50;
}

#education-title h2 {
	margin-top: 12px;
}

#skill-title h2 {
	margin-left: 0;
}

#intro-bio h3 {
	font-family: 'Quicksand', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
}

#work-history h3 {
	margin-bottom: 10px;
	font-size: 20px;
	line-height: 1;
}

#intro-bio h4 {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #595959;
	line-height: .8;
	font-size: 11px;
}

#education-title h4 {
	margin-top: 0;
	margin-bottom: 2px;
}

#skill-title h4 {
	margin-top: 10px;
	margin-bottom: 12px;
}

#work-history .bg-light {
	background-color: rgba(106, 137, 204, 0.1) !important;
}

#education .bg-light {
	background-color: rgba(44, 62, 80, 0.1) !important;
}



.mb-3 {
	margin-bottom: 2rem !important;
}

.modal-body a {
	color: #f6b93b;
}

.modal-content {
	background: #262626;
}

.close {
	color: #b3b3b3;
}

.modal-title {
	color: #b3b3b3;
}

.modal-header {
	border-bottom: none;
}

.modal-footer {
	border-top: none;
}

.modal-footer button {
	color: #b3b3b3;
	border-color: #1a1a1a;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	body {
		font-size: 22px;
		line-height: 1.5;
	}

	.pages {
		margin-top: 100px;
		width: 580px;
	}

	.pages hr {
		margin-bottom: 40px;
	}

	#home-header {
		margin-top: 40px;
	}

	#header-image {
    display: block;
	}

	#mobile-image {
		display: none;
	}

	#home-page h5 {
		margin-top: 40px;
		font-size: 16px;
	}

	#intro-bio h1 {
	  font-size: 110px;
	}

	#intro-bio h3 {
		padding: 0 0 5px 0;
		font-size: 24px;
	}

	#intro-bio h4 {
		margin-top: 30px;
		margin-top: 10px;
		font-size: 20px;
		line-height: .9;
	}

	#work-history h3 {
		margin-bottom: 10px;
		font-size: 30px;
		line-height: 1;
	}

	#work-history h4 {
		font-size: 16px;
	}

	#education-title h2 {
		margin-top: 82px;
	}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {


	#home-page h5 {
		margin-top: 0;
		text-align: center;
	}


	#resume-page h1 {
		margin-top: 0;
	}

	#skill-title h2 {
		margin-left: 5%;
	}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

	#home-header {
		margin-top: 80px;
	}

	#home-page h5 {
		margin-top: 0;
		font-size: 20px;
		text-align: left;
	}

	#action-button {
		text-align: left;
	}



}

/* Extra Large devices (large desktops, 1440 and up) */
@media (min-width: 1440px) {

	#experience {
		margin-right: 6%;
	}


}
